@import "../../global.scss";

.aboutUs {
  background-color: $mainColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  @include mobile{
    overflow: hidden;
  }

  h1 {
    font-size: 50px;
    color: $secondaryColor;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);

    @include mobile {
      top: 80px;
      font-size: 40px;
      text-align: center;

    }
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    width: 100%;
    flex: 1;
    @include mobile{
      flex-direction: column;
    }
    .left {
      flex: 1;
      height: 100%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      @include mobile {
        flex: 0.8;
      }
      img {
        width: 95%;
        border-radius: 15px;
        border: 2px solid $secondaryColor;
        @include mobile {
          height: 40%;
          border-radius: 15px;
          position: absolute;
          top: 140px;
        }
      }
    }
    .right {
      flex: .8;
      display: flex;
      width: 80%;
      height: 80%;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      margin-right: 40px;
      transition: all 1s ease;
      @include mobile {
        height: 250px;
        width: 100%;
        margin: 10px 0;
      }
      .text {
        padding: 10px;
        border-radius: 10px;
        background-color: $mainColor;
        color: $secondaryColor;
        @include mobile {
          position: absolute;
          top: 500px;
          font-size: 16px;
          padding: 5px;
          overflow: hidden;
        }
      }
      .signature {
        padding: 10px;
        border-radius: 10px;
        color: $brickRed;
        @include mobile {
          position: absolute;
          bottom: 30px;
          font-size: 12px;
          padding: 5px;
          overflow: hidden;
        }
      }
    }
  }
}
